body {
    font-family: Arial, sans-serif;
    text-align: center;
    width:300px;
    padding: 20px;
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 0;
    color:white;
    border:1px solid black;

}

#text {
    margin: 20px 0;
    font-size: 16px;
    color: white;
}

button {
    padding: 5px 10px;
    font-size: 16px;
    color: #fff;
    background: #642B73;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #C6426E, #642B73);  
    background: linear-gradient(to right, #C6426E, #642B73); 
        border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #642B73;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #C6426E, #642B73);  
    background: linear-gradient(to right, #C6426E, #642B73); 
    }